#effects {
  font-size: 0.6em;
  text-align: left;
  margin: auto;
  display: inline-block;
}

#behavior, #impairment {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

h3 {
  text-align: center;
}
