*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #009900;
  color: #ffffff;
}

::-moz-selection {
  background-color: #009900;
  color: #ffffff;
}

html, body {
  background-color: #000;
  color: #009900;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 100%;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, select, button {
  border: 1px solid #009900;
  background-color: #000;
  color: #fff;
  margin: 5px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  width: 50vw;
  max-width: 300px;
}

input[type=checkbox] {
  width: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.submit {
  display: inline-block;
  background-color: #009900;
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

button {
  background-color: #003000;
  border-color: #fff;
}

button.remove {
  background-color: #990000;
}

#basic-data, #new-drink {
  max-width: 750px;
  margin: auto;
}

#main {
  margin: auto;
  padding: 0 5vw;
}

#drink-form {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

@media (max-width: 1000px) {

  #main {
    padding: 0;
  }

}
