#progress-bar {
    position: relative;
}

#progress-cover {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to right, transparent, white 10%, white);
}
